body {
  font-family: sans-serif;
  background-color: #232426;
  color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

hr {
  margin-bottom: 1rem;
}

h1 {
  margin-top: 2rem;
}

h5 {
  font-size: 18px;
}

input {
  color: black;
}

button {
  margin: 1rem;
}

.main-nav-text {
  font-family: "Raleway";
  font-size: 22px;
  padding-left: 8px;
}

.now-playing {
  background-color: #4b4d4f;
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}


.card {
  width: 750px;
  padding: 7px;
  margin: 10px;
  background-color: #3d4044;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  color: white;
}

.card-artist-song {
  font-size: 18px;
  font-weight: bold;
  text-overflow: ellipsis;
}

.card-artist-name{
  font-size: 12px;
}

.card img {
  max-width: 60%;
  box-sizing: border-box;
}


.card button {
  background-color: white;
  color: grey;
  font-size: 18px;
  font-weight: bold;
}

.card button:hover{
  background-color: lightgrey;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.toggle button{
  background-color: white;
  color: grey;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.nav-container {
  display: flex;
  flex-direction: row;
}

.nav-welcome {
  flex-grow: 1;
}

.nav-links {
  float: right;
}
