body {
  font-family: "Raleway";
  background-color: #232426;
  color: white;
}

#logo {
  font-size: 3.5em;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

hr {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 2rem;
}

h5 {
  background: url(https://s3.envato.com/files/176875474/Untitled-1.jpg) -80px -80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 18px;
}

input {
  color: black;
  height: 42px;
  font-size: 30px;
}

button {
  margin: 1rem;
}

.main-nav-text {
  font-family: "Raleway";
  font-size: 24px;
  padding-left: 8px;
}

.now-playing {
  background-color: #4b4d4f;
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}


.card {
  width: 750px;
  padding: 7px;
  margin: 10px;
  background-color: #3d4044;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  color: white;
}

.card-artist-song {
  font-size: 1.5em;
  font-weight: bold;
  text-overflow: ellipsis;
  font-family: "Raleway";
}

.card-artist-name{
  font-size: 12px;
}

.card img {
  max-width: 60%;
  box-sizing: border-box;
}

.card button {
  background-color: white;
  color: grey;
  font-size: 18px;
  font-weight: bold;
}

.card button:hover{
  background-color: lightgrey;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.card button:active {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}

.toggle button{
  background-color: white;
  color: grey;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.nav-container {
  display: flex;
  flex-direction: row;
}

.nav-welcome {
  flex-grow: 1;
}

.nav-links {
  float: right;
}

#room-box {
  display: flex;
  flex-direction: column;
}

.room-box-child {
  margin: auto;
}

#add-room-button {
  margin: auto;
}

#add-video-button {
  margin: auto;
}

#searchbar {
  display: flex;
  flex-direction: row;
}

#videosearchinput {
  margin: auto;
}

.knockout {
  background: url(https://s3.envato.com/files/176875474/Untitled-1.jpg) -80px -80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 100px;
  font-family: arial, helvetica;
  width: 600px;
  margin: 50px auto;
  text-align: center;
}

.spacetext {
  background: url(https://s3.envato.com/files/176875474/Untitled-1.jpg) -80px -80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 2em;
  font-family: arial, helvetica;
  width: 600px;
  margin: 50px auto;
}
