body {
  font-family: "Raleway";
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 0.5em;
  margin-bottom: 0px;
}

form div {
  margin: 1em;
  display: inline-block;
}

hr {
  margin: 0px 0px 0.5em 0px;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 2rem;
}

h5 {
  background: url(https://s3.envato.com/files/176875474/Untitled-1.jpg) -80px -80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 18px;
}

input {
  color: black;
  height: 42px;
  font-size: 30px;
}

button {
  margin: 1rem;
}

.main-nav-text {
  font-family: "Raleway";
  font-size: 24px;
  padding-left: 8px;
}

.now-playing {
  background-color: #4b4d4f;
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}


.card {
  width: 750px;
  padding: 7px;
  margin: 10px;
  background-color: #3d4044;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  color: white;
}

.card-artist-song {
  font-size: 1.5em;
  font-weight: bold;
  text-overflow: ellipsis;
  font-family: "Raleway";
}

.card-artist-name{
  font-size: 12px;
}

#room-img {
  max-width: 60%;
}

.card img {
  max-width: 99%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 10px;
  margin: auto;
}

.card button {
  background-color: white;
  color: grey;
  font-size: 18px;
  font-weight: bold;
}

.card button:hover{
  background-color: lightgrey;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.card button:active {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}

.toggle button{
  background-color: white;
  color: grey;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

.nav-container {
  display: flex;
  flex-direction: row;
}

.nav-welcome {
  flex-grow: 1;
  margin-top: 0.8em;
}

.nav-links {
  float: right;
  margin-top: 0.3em;
}

#room-box {
  display: flex;
  flex-direction: column;
}

.room-box-child {
  margin: auto;
}

#create-room-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.room-box-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#room-box-name {
  text-align: center;
}

#join-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.create-room-child {
  margin: auto;
  padding: 1em;
}

#create-room-button {
  padding-left: 0.2em;
}

#add-room-button {
  margin: auto;
}

#add-video-button {
  margin: auto;
}

#searchbar {
  display: flex;
  flex-direction: row;
  padding: 1em 0px 0px 0px;
  margin: auto;
}

#videosearchinput {
  margin: auto;
}

.knockout {
  background: url(https://st.depositphotos.com/1008191/2392/i/950/depositphotos_23927899-stock-photo-abstract-green-background-white-center.jpg) -80px -80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 3.5em;
  font-family: arial, helvetica;
  width: 600px;
  margin: auto;
  text-align: center;
}


#room-name-container {
  display: flex;
}

.spacetext {
  background: url(https://st.depositphotos.com/1008191/2392/i/950/depositphotos_23927899-stock-photo-abstract-green-background-white-center.jpg) -80px -80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 1.5em;
  font-family: arial, helvetica;
  align-self: flex-start;
  margin: 0.2em 0px 0.5em 0px;
}

#welcome-message {
  font-size: 1em;
  padding: 0px;
  flex-grow: 2;
  background: url(https://st.depositphotos.com/1008191/2392/i/950/depositphotos_23927899-stock-photo-abstract-green-background-white-center.jpg) -80px -80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#videoplayer {
  margin: auto;
}

#up-down-container {
  display: flex;
  flex-direction: column;
}

#upvote-button {
  margin: auto;
}

#downvote-button {
  margin: auto;
}

#cardid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.login-box-child {
  margin: auto;
}

#login-button {
  margin-bottom: 0px;
}
